*{
    margin-top: 0px;
    margin-left: 0px;
}

#buttons{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board55{
    height: 250px;
    width: 250px;
    border: solid green 2px;
    margin: auto auto;
    margin-top: 50px;
    visibility: hidden;
}

.tile{
    height: 50px;
    width: 50px;
    box-shadow: inset 0px 0px 0px 0.6px green;
    position: absolute;
}